<!-- <form method="POST" action="{{.data.pageform}}"> -->
<form>
    <div class="form-group row" style="margin-top: 150px;">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
            <div class="form-group" style="text-align: center;">
                <label class="col-form-label col-form-label-lg" style="font-size: 50px;" for="inputLarge">Doc4Team</label>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">what you want?</span>
                </div>
                <input type="text" class="form-control" id="keyword" style="font-size: large;">
                <div class="input-group-append">
                    <button type="button" class="btn btn-primary input-group-text" id="search">Search</button>
                </div>
            </div>
            <div class="form-group">
                <div style="margin-top: 10px" class="taglist">
                    {{range $i, $v := .data.unused}}
                    <span class="badge badge-light doctag" style="cursor: pointer;" tagid="{{$v.TagId}}" tagname="{{$v.Name}}">{{$v.Name}}</span>
                    {{end}}
                    <!-- <span class="badge badge-secondary">文档</span>
                        <span class="badge badge-success">POST</span>
                        <span class="badge badge-danger">Danger</span>
                        <span class="badge badge-warning">Warning</span>
                        <span class="badge badge-info">Info</span>
                        <span class="badge badge-light">Light</span>
                        <span class="badge badge-dark">Dark</span> -->
                </div>
                <input type="hidden" class="selecttags" id="selecttags">
            </div>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
</form>

<script>
    $(function () {

        function choose() {
            if ($(this).hasClass("badge-light")) {
                $(this).removeClass("badge-light").addClass("badge-dark");
            } else if ($(this).hasClass("badge-dark")) {
                $(this).removeClass("badge-dark").addClass("badge-light");
            } else {

            }
            setUsedTags();
        };


        function setUsedTags() {
            $(".selecttags").val("");
            var selecttags = "";
            $(".doctag").each(function (i, v) {
                if ($(this).hasClass("badge-dark")) {
                    selecttags += $(v).attr("tagid") + ",";
                }
            });
            $(".selecttags").val(selecttags);
        }


        $(".taglist").on('click', ".doctag", choose);


        $("#search").click(function () {
            window.location.href = window.location.href + "search?kw=" + $("#keyword").val() + "&s=" + $("#selecttags").val()
        })
    })
</script>